<link rel='stylesheet' href='/stylesheets/contact_send.css' />

<div class="container cover animate__animated animate__backInLeft">

    <h2 class="contact">Votre message a bien été envoyé</h2>
    <br>
    <br>
    <h3>Nous vous contacterons dans les meilleurs délais</h3>

</div>