<div class="container-fluid mt-5">
  <h1 class="titre">Venez découvrir de nouvelles saveurs</h1>
  <h2 class="soustitre">
    Embarquez à destination de l'Océan Indien grâce à nos différents plats et
    préparations
  </h2>

  <p class="paragraphe">
    Pour vos repas de famille ou pour une réception privée, nous sommes à votre
    disposition. Les différentes préparations que nous vous proposons sont
    élaborées le jour même.
  </p>

  <p class="paragraphe">
    Vous pouvez soit venir enlever votre commande sur place ou vous faire livrer
    à domicile dans la limite de 5kms autour de Luçon.
  </p>

  <p class="paragraphe">
    Nous vous proposons différentes possibilités d'accompagnements à définir
    ensemble lors de votre commande.
  </p>

  <p class="paragraphe">
    En tant que traiteur indépendant, nous saurons nous adapter à votre demande
    en matière d’habitudes alimentaires, végétarien, végane etc.
  </p>
  <p class="paragraphe red">
    Il est de votre résponsabilité de nous informer si vous avez des allergies
    avant toute commande, nous ne pouront être tenu responsable d'une quelconque
    réaction sans avoir reçu les informations à ce sujet.
  </p>
</div>
<!-- Préparation-->

<div class="container mb-5 mt-5 text-center">
  <h2 id="preparations">Nos Préparations</h2>

  <p class="note">Toutes nos préparations sont non pimentées</p>

  <div class="crd row animate__animated animate__pulse">
    <div class="card col-xl-3 col-md-8">
      <img
        src="/images/achard-legume1.webp"
        class="card-img-top"
        alt="photo de produit"
      />
      <div class="card-body">
        <h4 class="card-title">Achard de légumes</h4>
        <p class="card-text">Préparation de légumes</p>
        <h5 class="card-price">Tarif : 3,50€ les 100g</h5>
      </div>
    </div>

    <div class="card col-xl-3 col-md-8">
      <img
        src="/images/dhol_puri.webp"
        class="card-img-top"
        alt="photo de produit"
      />
      <div class="card-body">
        <h4 class="card-title">Dhole puri</h4>
        <p class="card-text">Galette de poids cassées</p>
        <h5 class="card-price">Tarif : 2,00€ la paire</h5>
      </div>
    </div>

    <div class="card col-xl-3 col-md-8">
      <img
        src="/images/chapatti.webp"
        class="card-img-top"
        alt="photo de produit"
      />
      <div class="card-body">
        <h4 class="card-title">Faratas</h4>
        <p class="card-text">Galette mauriciene</p>
        <h5 class="card-price">Tarif : 1,50€ pièce</h5>
      </div>
    </div>
  </div>

  <div class="crd row animate__animated animate__pulse">
    <div class="card col-xl-3 col-md-8">
      <img
        src="/images/samosa.webp"
        class="card-img-top"
        alt="photo de produit"
      />
      <div class="card-body">
        <h4 class="card-title">Samoussa poulet</h4>
        <p class="card-text">Poulet, legumes et épices</p>
        <h5 class="card-price">Tarif : 1,10€ pièce</h5>
      </div>
    </div>

    <div class="card col-xl-3 col-md-8">
      <img
        src="/images/samousa.webp"
        class="card-img-top"
        alt="photo de produit"
      />
      <div class="card-body">
        <h4 class="card-title">Samoussa boeuf</h4>
        <p class="card-text">Boeuf, legumes et épices</p>
        <h5 class="card-price">Tarif : 1,10€ pièce</h5>
      </div>
    </div>

    <div class="card col-xl-3 col-md-8">
      <img
        src="/images/samosa.webp"
        class="card-img-top"
        alt="photo de produit"
      />
      <div class="card-body">
        <h4 class="card-title">Samoussa légumes</h4>
        <p class="card-text">mélange de légumes et épices</p>
        <h5 class="card-price">Tarif : 0,95€ pièce</h5>
      </div>
    </div>
  </div>
</div>

<!-- PLATS-->
<div class="container mb-5 mt-5 text-center">
  <h2 id="plats">Nos Plats</h2>
  <p class="note">Tout nos plats sont non pimentés</p>

  <div class="crd row animate__animated animate__pulse">
    <div class="card col-xl-3 col-md-8">
      <img
        src="/images/biryani poulet.webp"
        class="card-img-top"
        alt="photo de produit"
      />
      <div class="card-body">
        <h4 class="card-title">Briani de poulet</h4>
        <p class="card-text">Viande, riz aux 7 épices</p>
        <h5 class="card-price">Tarif : 13,50€ par personne</h5>
      </div>
    </div>

    <div class="card col-xl-3 col-md-8">
      <img
        src="/images/biryani boeuf.webp"
        class="card-img-top"
        alt="photo de produit"
      />
      <div class="card-body">
        <h4 class="card-title">Briani de boeuf</h4>
        <p class="card-text">Légumes, riz aux 7 épices</p>
        <h5 class="card-price">Tarif : 13,50€ par personne</h5>
      </div>
    </div>

    <div class="card col-xl-3 col-md-8">
      <img
        src="/images/biryani-veg.webp"
        class="card-img-top"
        alt="photo de produit"
      />
      <div class="card-body">
        <h4 class="card-title">Briani de légumes</h4>
        <p class="card-text">Légumes, riz aux 7 épices</p>
        <h5 class="card-price">Tarif : 13,50€ par personne</h5>
      </div>
    </div>
  </div>

  <div class="crd row animate__animated animate__pulse">
    <div class="card col-xl-3 col-md-8">
      <img
        src="/images/cury_poulet_riz.webp"
        class="card-img-top"
        alt="photo de produit"
      />
      <div class="card-body">
        <h4 class="card-title">Curry de poulet</h4>
        <p class="card-text">Poulet, riz et épices</p>
        <h5 class="card-price">Tarif : 12,50€ par personne</h5>
      </div>
    </div>

    <div class="card col-xl-3 col-md-8">
      <img
        src="/images/cury_viande_riz01.webp"
        class="card-img-top"
        alt="photo de produit"
      />
      <div class="card-body">
        <h4 class="card-title">Curry de boeuf</h4>
        <p class="card-text">Boeuf, riz et épices</p>
        <h5 class="card-price">Tarif : 13,00€ par personne</h5>
      </div>
    </div>

    <div class="card col-xl-3 col-md-8">
      <img
        src="/images/cury_viande_riz02.webp"
        class="card-img-top"
        alt="photo de produit"
      />
      <div class="card-body">
        <h4 class="card-title">Curry d'agneau</h4>
        <p class="card-text">Agneau, riz et épices</p>
        <h5 class="card-price">Tarif : 13,95€ par personne</h5>
      </div>
    </div>
  </div>

  <div class="crd row animate__animated animate__pulse">
    <div class="card col-xl-3 col-md-8">
      <img
        src="/images/poulet_curry.webp"
        class="card-img-top"
        alt="photo de produit"
      />
      <div class="card-body">
        <h4 class="card-title">Daube de poulet</h4>
        <p class="card-text">Poulet, riz et épices</p>
        <h5 class="card-price">Tarif : 12,50€ par personne</h5>
      </div>
    </div>

    <div class="card col-xl-3 col-md-8">
      <img
        src="/images/rougaille.webp"
        class="card-img-top"
        alt="photo de produit"
      />
      <div class="card-body">
        <h4 class="card-title">Rougail Saucisses</h4>
        <p class="card-text">Saucisse, tomates et épices.</p>
        <h5 class="card-price">Tarif : 12€ par personne</h5>
      </div>
    </div>
    <div class="card col-xl-3 col-md-8">
      <img
        src="/images/rougail-de-poisson.webp"
        class="card-img-top"
        alt="photo de produit"
      />
      <div class="card-body">
        <h4 class="card-title">Rougail de poisson</h4>
        <p class="card-text">Poisson, tomates et épices.</p>
        <h5 class="card-price">Tarif : 12€ par personne</h5>
      </div>
    </div>
  </div>
</div>
