<div class="center mt-5">
  <h1>Livraison</h1>
  <p class="paragraphe">
    Les Produits commandés par le Client peuvent : <br />
    - être enlevés sur place. <br />
    - livrés uniquement à Luçon.
  </p>

  <p class="paragraphe">
    Les livraisons interviennent dans un délai de 24 heures à l'adresse indiquée
    par le Client lors de sa commande. <br />
    Sauf cas particulier ou indisponibilité d'un ou plusieurs produits, les
    produits commandés seront livrés en une seule fois. <br />
    Nous nous engageons à faire nos meilleurs efforts pour vous livrer les
    produits commandés dans les délais précisés lors de nos échanges.
  </p>
</div>
